:root {
  letter-spacing: 1.4px;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-PrimeColor: #F5EBF6;
  --font-SecondColor: #2E3551;
  --font-ThirdColor: #D8AD83;
  --font-family: 'Vladimir Script';
}


body {
  overflow-x: hidden;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--font-SecondColor);
}



